<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaveBlaster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo_waveBlaster.png') }}" alt="Logo WaveBlaster">
    </div>

    <div class="main-content">
        <h1>WaveBlaster</h1>

        <div class="tabs">
            <button class="tab-button active" data-tab="mapa">Mapa</button>
            <button class="tab-button" data-tab="estadisticas">Estadísticas</button>
            <button class="tab-button" data-tab="quienes-somos">Quiénes somos</button>
        </div>

        <div class="tab-content-container">

            <div id="mapa" class="tab-content active">
                <h2>Mapa en tiempo real</h2>
                <div id="map"></div>
            </div>

            <div id="estadisticas" class="tab-content">
                <h2>Estadísticas</h2>
            
                <div style="max-width: 800px; margin: 0 auto;">
                    <canvas id="buoyChart"></canvas>
                </div>
            
                <h3 style="margin-top: 30px;">Resumen por boya</h3>
                <table class="tabla-estadisticas" id="tabla-boyas">
                    <thead>
                        <tr>
                            <th>Boya</th>
                            <th>Explosiones registradas</th>
                            <th>Confianza media</th>
                            <th>Última detección</th>
                        </tr>
                    </thead> <!--se rellena con el js-->
                    <tbody></tbody>
                </table>
            </div>

            <div id="quienes-somos" class="tab-content">
                <h2>Quiénes somos</h2>
                <p>Somos 5 estudiantes de la Universidad de Vigo y hemos creado este proyecto para la asignatura LPRO.</p>
                <p>
                    WaveBlaster es una plataforma orientada a la detección de explosiones
                    submarinas asociadas a actividades de pesca ilegal mediante análisis acústico.
                </p>
                <p>
                    El sistema permite visualizar eventos geolocalizados en tiempo real y
                    consultar información estadística de forma clara e intuitiva.
                </p>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='code.js') }}"></script>

</body>
</html>


